# Byte-compiled / optimized / DLL files
__pycache__/
*.py[codz]
*$py.class

# Distribution / packaging
dist/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Unit test / coverage reports
.pytest_cache/
.tox/
.nox/
.coverage
*.cover
.hypothesis/

# Environments
.env
.venv
env/
venv/
.python-version

# IDEs
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
